{% extends "base.html" %}

{% block head %}


<script src="static/bower_components/angular/angular.min.js"></script>
<script src="static/bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
<script src="static/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="static/bower_components/angular-xml/angular-xml.min.js"></script>
<script src="static/bower_components/mousetrap/mousetrap.min.js"></script>

{#<script src="http://ol3js.org/en/master/build/ol.js" type="text/javascript"></script>#}

{#<script type="text/javascript" src="static/js/ol.js"></script>#}

<script type="text/javascript" src="static/js/ol-whitespace.js"></script>

<script type="text/javascript" src="static/js/pf-segmentation.js"></script>
<script type="text/javascript" src="static/js/slic-segmentation.js"></script>
<script type="text/javascript" src="static/js/segment-annotator.js"></script>
<script type="text/javascript" src="static/js/dermapp-rev4.js"></script>

<link rel=stylesheet type=text/css href="static/css/ol.css"/>
<link rel=stylesheet type=text/css href="static/css/derm.css"/>

<style>

    nav {
        margin-left: 10px;
    }

    nav ul ul {
        display: none;


    }

    nav ul li:hover > ul {
        display: block;
    }

    nav ul {
        background: #efefef;
        /*background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);*/
        /*background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);*/
        /*background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);*/
        /*box-shadow: 0px 0px 9px rgba(0,0,0,0.15);*/
        /*padding: 0 20px;*/
        /*border-radius: 10px;*/
        list-style: none;
        position: relative;
        display: inline-table;
        padding: 0px !important;
    }

    nav ul:after {
        content: "";
        clear: both;
        display: block;
    }

    nav ul li {
        float: left;
    }

    nav ul li:hover {
        background: #4b545f;
        /*background: linear-gradient(top, #4f5964 0%, #5f6975 40%);*/
        /*background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);*/
        /*background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);*/
    }

    nav ul li:hover a {
        border: 1px solid #1a1c1e;
    }

    nav ul li a {
        display: block;
        border: 1px solid #000;
        /*padding: 25px 40px;*/
        /*color: #757575; text-decoration: none;*/
    }

    nav ul ul {
        /*background: #5f6975; */
        /*border-radius: 0px; padding: 0;*/
        position: absolute;
        top: 100%;
    }

    nav ul ul li {
        float: none;
        /*border-top: 1px solid #6b727c;*/
        /*border-bottom: 1px solid #575f6a; */
        position: relative;
    }

    nav ul ul li a {
        border: 1px solid #555;
        /*padding: 15px 40px;*/
        /*color: #fff;*/
    }

    nav ul ul li a:hover {
        /*background: #4b545f;*/
    }

    nav ul ul ul {
        position: absolute;
        left: 100%;
        top: 0;
    }

    .fawhite {
        color: #fff;
    }
</style>

{% endblock %}

{% block body %}

{% if g.user %}

<input id="user_email" type="hidden" value="{{ g.user.email }}"/>
<input id="user_id" type="hidden" value="{{ g.user.id }}"/>


<div id="angular_id" ng-controller="ApplicationController">

    <div ng-controller="AnnotationView" id="viewContainer">



        <div id="hoverBar"><img id="objectinfo" style="display:none;" class="optionimage" src="static/na.jpg"></img>
        </div>



        <div class="col-sm-3" id="toolContainer" ng-controller="AnnotationTool">

            <div class="isichead">
                <span class="isictitle pull-left">
                    ISIC Annotation Tool v5
                </span>


                <span class="isicuser pull-right">
                    <a class="btn btn-mini btn-inverse"
                       href="{{ url_for('logout') }}">
                        {{g.user.email}} (sign out)
                    </a>
                </span>
                <div class="clearfix"></div>

            </div>


            {% raw %}



            <script type="text/ng-template" id="myModalContent.html" class="modalbase">
                <div class="modal-body">

                    <div>{{base.title}}</div>
                    <div class="btn-group choiceoption" ng-repeat="opt in base.options">
                        <div class="btn btn-primary"
                             ng-click="selectOption(opt)">
                            {{opt.title}}
                        </div>

                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="field_renderer.html">

                <a href="#" ng-click="selectDropDownOption(opt)">
                    <img class="optionimage" ng-src="/{{ opt.icon }}"/>
                </a>

                <ul>
                    <li ng-show="opt.type!='choice'" ng-repeat="opt in opt.options" ng-include="'field_renderer.html'"></li>
                </ul>

            </script>


            <div class="clearfix"></div>

            <!-- Step content -->

            <div class="" ng-repeat="(key, value) in decision_tree">

                <div ng-show="smartShowHeader(key)"
                     class="step-header">

                    <div class="btn-group">
                        <div type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown"
                             ng-show="showIfStep(key)">
                          <i class="fa fa-bars"></i>
                        </div>
                        <ul class="dropdown-menu">
                          <li><a href="#" ng-click="previousStep()">Go back</a></li>
                          <li><a href="#" ng-click="gotoStep(0)">Restart this image</a></li>
                          <li><a href="#" ng-click="">Flag this image</a></li>
                          <li class="divider"></li>
                          <li><a href="#" ng-click="showHelp(key))">Get help for this step</a></li>

                        </ul>

                        <div ng-click="gotoStep(key)"
                             ng-class="stepHasAnnotations(key) ? 'btn labelgreen' : 'btn'">
                            {{value.title}}
                        </div>

                    </div>

                    <div class="btn-group pull-right">
                        <div ng-click="deleteSaved(key)" class="btn" ng-show="stepHasAnnotations(key)">
                            <i class="fa fa-trash-o fawhite" tooltip-placement="left" tooltip="Delete step
                            annotations"></i>
                        </div>&nbsp;
                    </div>

                </div>


                <div ng-show="smartShowContent(key)" class="step-content">

                    <div ng-show="compareState('image', tool_bar_state)">

                        <div class="btn-group content-group">
                                <div class="btn btn-inverse">Selected:
                                    {{ current_image.study_id }}
                                </div>
                        </div>


                        <div class="imagePreview">

                            <div class='wrapper' ng-repeat="(i, v) in image_list">
                                <img class="imagethumb"
                                     ng-click='selectImage(i)'
                                     ng-src="{{v.thumbnail}}"/>

                                <div class='description' ng-show="imageHasAnnotations(i)">
                                    <span class='label label-primary givedropshadow'>
                                        {{image_list[i].annotation.length}}</span>
                                </div>
                            </div>
                        </div>


                    </div>

                     <!-- magic wand -->

                    <div class="btn-group content-group"
                         ng-show="compareState('mwdefine', tool_bar_state)">

                        <div class="btn btn-primary"
                             ng-click="increaseParameter()">
                            <i class="fa fa-chevron-up"></i></div>
                        <div class="btn btn-primary"
                             ng-click="decreaseParameter()">
                            <i class="fa fa-chevron-down"></i></div>

                        <div class="btn" disabled>Tolerance:
                            <b>{{magicwand_tolerance}}</b></div>
                    </div>



                    <div class="btn-group content-group"
                         ng-show="compareState('spconfirm', tool_bar_state)">

                        <div class="btn btn-primary"
                             ng-click="increaseParameter()">
                            <i class="fa fa-chevron-up"></i></div>
                        <div class="btn btn-primary"
                             ng-click="decreaseParameter()">
                            <i class="fa fa-chevron-down"></i></div>

                        <div class="btn" disabled>Tolerance:
                            <b>{{regionpaint_size}}</b></div>
                    </div>


                    <div class="btn-group content-group"
                         ng-show="compareState('pldefine', tool_bar_state)">

                        <div class="btn" disabled>
                            Place 3 or more points to create a perimeter
                        </div>

                    </div>

                    <div class="btn-group content-group"
                         ng-show="compareState('rppaint', tool_bar_state)">

                        <div class="btn"
                             ng-show="drawModeIs('paintbrush')"
                             ng-click="navMode()">
                            Hide contours
                        </div>
                        <div class="btn"
                             ng-show="drawModeIs('navigate')"
                             ng-click="drawMode()">
                            Show contours
                        </div>

                        <div class="btn btn-inverse" disabled style="max-width: 200px;">
                            {{select_detail.title}}
                        </div>

                        <div class="btncontainer">
                            <img class="btnimage" ng-src="{{select_detail.url}}"/>
                        </div>
                    </div>

                    <div class="btn-group content-group"
                         ng-show="compareState('rpreview', tool_bar_state)">

                        <div class="btn"
                             ng-click="runRegionPaint()"
                             ng-show="select_detail">
                            Edit labels
                        </div>
                    </div>


                    <div class="btn-group content-group"
                         ng-show="compareState('selectpbn', tool_bar_state)">
                        <div class="btn btn-inverse"
                                ng-click="nextStep()">
                               <i class="fa fa-check-square" tooltip-placement="right" tooltip="No details to
                               annotate"></i>
                        </div>
                    </div>





                    <div class="btn-group content-group"
                         ng-show="compareState('select', tool_bar_state)">

                        <div class="btn btn-inverse" disabled>
                           Selected:
                        </div>

                        <div class="btncontainer">
                            <img class="btnimage" ng-src="{{select_pattern.get('icon')}}" tooltip="{{ select_pattern.get('title') }}"/>
                        </div>
                    </div>



                    <div class="btn-group pull-right content-group"
                         ng-show="compareState('rppaint', tool_bar_state)">

                        <div class="btn btn-inverse"
                             ng-click="finishRegionPaint()">
                            Fill contours
                        </div>
                    </div>

                    <div class="btn-group pull-right content-group"
                            ng-show="compareState('mwdefine', tool_bar_state)">
                        <div class="btn btn-inverse"
                             ng-click="manualEdit()">
                            <i class="fa fa-edit" tooltip-placement="left" tooltip="Manual edit"></i>
                        </div>
                    </div>


                    <div class="btn-group pull-right content-group"
                         ng-show="compareState('selectpbn', tool_bar_state)">
                        <div class="btn btn-inverse" ng-show="runningSegmentation">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>

                        <div class="btn btn-inverse"
                                ng-click="runRegionPaint()">
                                Click to begin
                        </div>
                    </div>


                    <div class="btn-group pull-right content-group"
                         ng-show="compareState('superpixel', tool_bar_state)">
                        <div class="btn btn-inverse" ng-show="runningSegmentation">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>

                        <div class="btn btn-inverse"
                                ng-click="runRegionPaintConfigure()">
                                Click to begin
                        </div>
                    </div>

                    <div class="btn-group pull-right content-group"
                         ng-show="compareState('spconfirm', tool_bar_state)">
                        <div class="btn btn-inverse"
                                ng-click="nextStep()">
                               Accept region size
                        </div>
                    </div>



                    <div class="btn-group content-group"
                         ng-show="stepHasDropDownOptions()">
                        <nav>
                            <ul>
                                <li ng-repeat="opt in step_options" ng-include="'field_renderer.html'"></li>
                            </ul>
                        </nav>
                    </div>




                </div>
            </div>



            <!-- Step footer -->

            <div class="lowertoolbar" ng-show="canGoToNextStep()" ng-cloak>

                <div class="btn-group"
                     ng-show="compareState('image', tool_bar_state)">

                        <div type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                          Other options
                          <span class="caret"></span>
                        </div>
                        <ul class="dropdown-menu">

                          <li><a href="#" ng-click="loadFirstTen()">Load first 10</a></li>
                          <li><a href="#" ng-click="loadTenWithoutAnnotation()">Load 10 unannotated</a></li>
                            <li><a href="#" ng-click="loadTenWithAnnotation()">Load 10 with annotations</a></li>
                          <li><a href="#" ng-click="loadTenRandom()">Load random 10</a></li>
                            <li class="divider"></li>
                            <!--<li disabled><a href="#" ng-click="" >Load workflow #2</a></li>-->
                        </ul>

                </div>


                <div class="btn-group">
                    <div class="btn btn-inverse">
                        <!--Other options-->
                    </div>
                </div>




                <div class="btn-group pull-right">
                    <div class="btn btn-inverse"
                         ng-click="beginAnnotation()"
                         ng-show="compareState('image', tool_bar_state)">
                        Annotate this image
                    </div>





                    <div class="btn btn-inverse"
                        ng-click="nextStep()"
                        ng-show="stepHasAnnotations(step)">
                        Next
                    </div>
                </div>

                <div class="btn-group pull-right">
                    <div class="btn btn-success"
                        ng-click="nextStep()"
                        ng-show="compareState('end', tool_bar_state)">
                        Submit
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-9 nopad">
            <div id="map" class="map"></div>
            <div id="annotatorcontainer"></div>

        </div>


    </div>


</div>


{% endraw %}

{% else %}

{% raw %}


<div class="container-fluid">

    <div class="row-fluid">
        <div class="offset1 span10">
            <iframe src="//player.vimeo.com/video/89748248" width="100%" height="750px" frameborder="0" we
                    bkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p><a href="http://vimeo.com/89748248">ISIC Annotator - beta 3</a> from
                <a href="http://vimeo.com/wholeslide">Rich Stoner</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>


    </div>


    <div class="row-fluid">
        <div class="offset1 span10">
            <h4>Pathology Image viewer for Whole Slide Images</h4>

            <p><a href="http://mskcc.digitalslidearchive.net">Pathology and Dermoscopic Lesion Viewer</a></p>

            <h4>Classify Derm Lesions by Example</h4>

            <p>
                <a href="http://sideshowbob.psy.emory.edu/dan1000_livedev/DERM_annotator/web_dev/">Same as above on different host in case of any weird network issues</a>
            </p>

            <h4>Alpha Version of Simple Annotator</h4>

            <p><a href="http://dermannotator.org">Shows online annotation capabilities</a></p>
        </div>

    </div>


</div>

{% endraw %}

{% endif %}

{% endblock %}


{% block postjs %}


{% endblock %}